[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-sqlalchemy = "*"
python-dotenv = "*"
flask-cors = "*"
flask-socketio = "*"
eventlet = "*"
mysql-connector-python = "*"
elasticsearch-dsl = "*"
pycryptodome = "*"
python-docx = "*"

[requires]
python_version = "3.8"
